.order {
  z-index: 200;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 25px;
  width: 50%;
  left: 20%;
  border-style: ridge;
  border-color: green;
  animation: ordermodal-appear 0.4s ease-out forwards;
  padding: 5%;
  background-color: rgb(211, 238, 211);
}

.order h2 {
  margin-top: 0;
}

.confirmBtn {
  background: rgb(1, 94, 1);
  border-color: rgb(1, 94, 1);
  position: flex;
  float: right;
}

.confirmBtn:hover {
  background-color: green;
  border-color: green;
}

@keyframes ordermodal-appear {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .confirmBtn {
    width: 100%;
  }
}
