.notification {
  /* width: 50%; */
  width: 30rem;
  height: auto;
  position: fixed;
  top: 0.2rem;
  left: calc(50% - 15rem);
  padding: 8px 0;
  text-align: center;
  color: white;
  border-radius: 0.5rem;
  z-index: 100;
}

.notification p {
  font-size: 2rem;
  margin: 0;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}
