.totalAmount {
  font-weight: bold;
}

.scroll {
  height: 100%;
  overflow: auto;
}

.finalrow > * {
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
}

.error {
  position: absolute;
  text-transform: uppercase;
  width: 96%;
  top: 35%;
  color: #bf8484;
  text-align: center;
}
