.totalAmount {
  font-weight: bold;
}

.scroll {
  height: 100%;
  overflow: auto;
}

.finalrow > * {
  border: none !important;
  border-bottom: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
}
