.scroll {
  height: 100%;
  overflow: auto;
}

.error {
  position: absolute;
  text-transform: uppercase;
  width: 96%;
  top: 35%;
  color: #bf8484;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .scroll {
    overflow-x: hidden;
  }
}
