.scroll {
  height: 100%;
  overflow: auto;
}

.error {
  position: absolute;
  top: 20%;
  padding: 10%;
  color: #bf8484;
}

.orders {
  text-align: center;
  border-spacing: 0;
  border: none;
  width: 95%;
  margin: auto;
}

.orders tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.orders tr:last-child td {
  border-bottom: none;
}

.tableheader {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4caf50;
  color: white;
  border-radius: 25px;
  font-size: 120%;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .scroll {
    overflow-x: hidden;
  }

  .orders {
    width: 90%;
  }
}
