.book {
  border-bottom: 1px solid #ccc;
  overflow: auto;
}

.price {
  font-weight: bold;
  color: teal;
  margin-bottom: 0.5rem;
  font-size: 120%;
}

.moreinfo {
  margin-bottom: 0.5rem;
  text-decoration: underline;
  color: gold;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}

.moreinfo:hover {
  font-weight: bold;
}

.name {
  margin-top: 1%;
}

.shake {
  animation: shake 300ms ease-out;
}

@keyframes shake {
  20%,
  50%,
  80% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  70% {
    transform: translateY(-7px);
  }

  90% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .name {
    margin-top: 0.67em;
  }
}
