.mainwrap {
  height: 16rem;
}

.btn {
  width: 70%;
  display: block;
  margin: 2rem auto 0.5rem;
}

@media screen and (max-width: 500px) {
  .btn {
    width: 90%;
  }
}

@media screen and (max-width: 338px) {
  .mainwrap {
    height: 19rem;
  }
}

@media screen and (min-width: 900px) {
  .mainwrap {
    width: 650px;
    left: calc(50% - 325px - 1%);
  }
}

@media screen and (max-height: 490px) {
  .mainwrap {
    height: 70%;
  }

  .scroll {
    overflow-y: scroll;
  }
}
