.mainwrap {
  height: 26rem;
}

.scroll {
  height: 100%;
  overflow-y: hidden;
}

.btn {
  width: 70%;
  display: block;
  margin: 1rem auto 0.5rem;
}
.btnGoogle {
  width: 70%;
  display: block;
  margin: 0.5rem auto 0.5rem;
}

.resetWrap {
  width: 7rem;
  display: block;
  margin: auto;
}

.reset {
  color: teal;
  font-size: 90%;
  text-decoration: underline;
  color: teal;
  cursor: pointer;
  text-align: center;
}

.reset:hover {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .btn {
    width: 90%;
  }
  .btnGoogle {
    width: 90%;
  }
}

@media screen and (min-width: 900px) {
  .mainwrap {
    width: 650px;
    left: calc(50% - 325px - 1%);
  }
}

@media screen and (max-height: 490px) {
  .mainwrap {
    height: 70%;
  }

  .scroll {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 300px) {
  .scroll {
    overflow-y: scroll;
  }
}
