.logincaption {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
}

.mainwrap {
  height: 26rem;
}

.scroll {
  height: 100%;
  overflow-y: hidden;
}

.btn {
  width: 70%;
  display: block;
  margin: 3rem auto 0.5rem;
}
.btnGoogle {
  width: 70%;
  display: block;
  margin: 0rem auto 0.5rem;
}

@media screen and (max-width: 500px) {
  .btn {
    width: 90%;
  }
  .btnGoogle {
    width: 90%;
  }
}

@media screen and (min-width: 900px) {
  .mainwrap {
    width: 650px;
    left: calc(50% - 325px - 1%);
  }
}

@media screen and (max-height: 490px) {
  .mainwrap {
    height: 70%;
  }

  .scroll {
    overflow-y: scroll;
  }
}
