.tablerow td {
  padding: 8px;
  font-family: inherit;
}

.tablerow td:first-child {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.tablerow td:last-child {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.tablerow td:nth-child(even) {
  border-bottom: 1px solid #ddd;
}
